<div class = "footer">
  <div class = "container">

        <center>
          <div class = "row">
            <div class = "col-md-3">
                <h4>Join our Email List</h4>
                <p>Join my email list for weekly tips and free offers</p>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input type="text" class="form-control" placeholder="Enter email here">
                </div>
                </br>
                <center>
                  <button class="btn btn-danger" type="submit">Submit</button>
                </center>

            </div>
            <div class = "col-md-3">
                <h4>About Me</h4>
                  <p>Some shit about me and how aweseome I am</p>
            </div>
            <div class = "col-md-3">
                <h4>Contact</h4>
                  <p>Join my email list for weekly tips and free offers</p>
            </div>
            <div class = "col-md-3">
                <h4>Social</h4>
                    <a class="btn btn-social-icon btn-twitter">
                      <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    <a class="btn btn-social-icon btn-twitter">
                      <i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <a class="btn btn-social-icon btn-twitter">
                      <i class="fa fa-google-plus fa-2x"></i>
                    </a>
                    <a class="btn btn-social-icon btn-twitter">
                      <i class="fa fa-youtube fa-2x"></i>
                    </a>
            </div>
          </div>
        </center>
      </div>
    </div>
  </div>